@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Ubuntu:ital@0;1&display=swap');

body{
    background-color: rgba(3, 200, 239, 0.895);
    color: #fff;
    font-family: 'Righteous', cursive;
}

#form-container{
    font-size: 20px;
    padding: 40px;
    width: 90%;
    max-width: 600px;
    border-radius: 20px;
    background-color: #262625;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
}

.textt{
    border-radius: 7px;
    width: 40%;
    padding: 10px;
}

.buttonss{
    border-radius: 7px;
    padding: 10px;
    font-family: 'Righteous', cursive;
}

.buttonss:active{
    box-shadow: 0px 4px 8px white;
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}

#form_container_header{
    border-radius: 10px 10px 0 0;
    padding: 30px;
    text-align: center;
    background-color: #363739;
    margin: 0;
    font-size: 18px;
    font-size: 300;
    line-height: 0;
}

#form-container_header{
    font-size: 20px;
    padding: 40px;
    width: 90%;
    max-width: 600px;
    border-radius: 20px;
    background-color: #262625;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
}

#form__content__wrapper{
    padding: 20px;
}

input {
    box-sizing: border-box;
    color: #fff;
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 5px;
    padding: 16px 20px;
    font-size: 15px;
    background-color: #3f434a;
    margin-top: 32px;
  }

  input[type='submit'] {
    background-color: #845695;
 
  }

